.photo-modal {
  top: 50%;
  left: 50%;
  width: 100%;
  margin: auto;
  height: 100dvh;
  color: #ffffff;
  overflow-y: auto;
  max-height: 100dvh;
  position: absolute;
  background-color: #000000;
  transform: translate(-50%, -50%);
}

.photo-modal .wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.photo-modal .wrapper .title-box {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  margin-bottom: 1rem;
}

.photo-modal .wrapper .title-box button {
  padding: 0.35rem 0.65rem;
}

.photo-modal .wrapper .camera-box {
  width: 100%;
  min-height: 500px;
}

.photo-modal .wrapper .camera-box video {
  width: 100%;
  min-height: 500px;
  object-fit: cover;
}

.photo-modal .wrapper .photo {
  min-height: 500px;
  border: 5px solid #2f80ed;
}

.photo-modal .wrapper .btn-take-photo {
  margin: auto;
  padding: 4px;
  min-width: 60px;
  min-height: 60px;
  line-height: 43px;
  text-align: center;
  font-size: 1.65rem;
  position: relative;
  border-radius: 999px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  margin-top: -7.5rem !important;
}

.photo-modal .wrapper .btn-take-photo:hover {
  background-color: #dbdbdb;
}

.photo-modal .wrapper .photo,
.photo-modal .wrapper .btn-take-photo {
  margin-top: 0.85rem;
}

.photo-modal .wrapper .btn-take-photo,
.photo-modal .wrapper .btn-switch-camera {
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 1025px) {
  .photo-modal {
    height: 100vh;
    max-height: 100vh;
  }

  .photo-modal .wrapper {
    min-height: initial;
  }

  .photo-modal .wrapper .photo,
  .photo-modal .wrapper .camera-box video {
    transform: scaleX(-1);
  }
}
