.photo-modal {
  top: 50%;
  left: 50%;
  width: 100%;
  margin: auto;
  max-width: 400px;
  position: absolute;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.photo-modal .wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 98dvh;
  max-height: 98dvh;
  overflow-y: auto;
}

.photo-modal .wrapper .subtitle {
  margin-bottom: 1rem;
}

.photo-modal .wrapper .camera-box {
  width: 100%;
  min-height: 500px;
}

.photo-modal .wrapper .camera-box video {
  width: 100%;
  min-height: 500px;
  object-fit: cover;
}

.photo-modal .wrapper .photo {
  min-height: 500px;
  margin-top: 1.5rem;
  border: 5px solid #2f80ed;
}

.photo-modal .wrapper .photo,
.photo-modal .wrapper .btn-take-photo {
  margin-top: 0.85rem;
}

.photo-modal .wrapper .btn-take-photo,
.photo-modal .wrapper .btn-switch-camera {
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 1025px) {
  .photo-modal .wrapper {
    max-height: 500px;
    min-height: initial;
  }

  .photo-modal .wrapper .photo,
  .photo-modal .wrapper .camera-box video {
    transform: scaleX(-1);
  }
}
