.photo-modal .wrapper .camera-box {
  width: 100%;
}

.photo-modal .wrapper .photo {
  border: 5px solid #2f80ed;
}

.photo-modal .wrapper .photo,
.photo-modal .wrapper .camera-box video {
  width: 100%;
  height: 80dvh;
  min-height: 400px;
  object-fit: contain;
}

.photo-modal .wrapper .btn-take-photo {
  margin: auto;
  padding: 4px;
  min-width: 60px;
  min-height: 60px;
  line-height: 43px;
  text-align: center;
  font-size: 1.65rem;
  position: relative;
  border-radius: 999px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  margin-top: -5.5rem !important;
}

.photo-modal .wrapper .btn-take-photo:hover {
  background-color: #dbdbdb;
}

.photo-modal .wrapper .photo,
.photo-modal .wrapper .btn-take-photo {
  margin-top: 0.85rem;
}

.photo-modal .wrapper .btn-switch-camera {
  margin-top: 2.5rem;
}

@media only screen and (min-width: 1025px) {
  .photo-modal .wrapper {
    min-height: initial;
  }

  .photo-modal .wrapper .btn-take-photo {
    margin-top: -7.5rem !important;
  }

  .photo-modal .wrapper .photo,
  .photo-modal .wrapper .camera-box video {
    height: initial;
    min-height: 500px;
    transform: scaleX(-1);
  }
}
