.video-modal {
  top: 50%;
  left: 50%;
  width: 100%;
  margin: auto;
  max-width: 400px;
  position: absolute;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.video-modal .wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 98dvh;
  max-height: 98dvh;
  overflow-y: auto;
}

.video-modal .wrapper .subtitle {
  margin-bottom: 1rem;
}

.video-modal .wrapper .video-box {
  width: 100%;
  min-height: 500px;
}

.video-modal .wrapper .video-box video {
  width: 100%;
  min-height: 500px;
  object-fit: cover;
}

.video-modal .wrapper .taken-video {
  width: 100%;
  min-height: 500px;
  object-fit: cover;
  border: 5px solid #2f80ed;
}

.video-modal .wrapper .taken-video,
.video-modal .wrapper .btn-recording,
.video-modal .wrapper .btn-stop-recording {
  margin-top: 0.85rem;
}

.video-modal .wrapper .btn-recording,
.video-modal .wrapper .btn-preview-video,
.video-modal .wrapper .btn-stop-recording,
.video-modal .wrapper .btn-switch-video {
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 1025px) {
  .video-modal .wrapper {
    max-height: 500px;
    min-height: initial;
  }

  .video-modal .wrapper .video-box video {
    transform: scaleX(-1);
  }
}
