.video-modal .wrapper .video-box {
  width: 100%;
}

.video-modal .wrapper .taken-video-box {
  transform: scaleX(-1);
  display: inline-block;
}

.video-modal .wrapper .taken-video {
  border: 5px solid #2f80ed;
}

.video-modal .wrapper .taken-video,
.video-modal .wrapper .video-box video {
  width: 100%;
  height: 80dvh;
  min-height: 400px;
  object-fit: contain;
}

.video-modal .wrapper .taken-video,
.video-modal .wrapper .btn-recording,
.video-modal .wrapper .btn-stop-recording {
  margin-top: 0.85rem;
}

.video-modal .wrapper .btn-recording,
.video-modal .wrapper .btn-preview-video,
.video-modal .wrapper .btn-stop-recording,
.video-modal .wrapper .btn-switch-video {
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 1024px) {
  .video-modal .wrapper .taken-video {
    transform: scaleX(-1);
  }
}

@media only screen and (min-width: 1025px) {
  .video-modal .wrapper {
    min-height: initial;
  }

  .video-modal .wrapper .video-box video {
    transform: scaleX(-1);
  }

  .video-modal .wrapper .taken-video,
  .video-modal .wrapper .video-box video {
    height: initial;
    min-height: 500px;
  }
}
